body{
   background-color: beige;
}

h1{
    font-size:50px;
    font-weight:bold;
    text-shadow:8px 8px 5px gray;
}

.normal{
    font-size:26px;
}

.capitalize{
    text-transform:capitalize;
    font-size:28px;
    text-align:center;
}

.uppercase{
    text-transform:uppercase;
    font-size:28px;
    text-align:right;
}

.lowercase{
    text-transform:lowercase;
    font-size:28px;
}

.dropcap{
    font-size:30px;
    line-height:1.5;
}

.dropcap::first-letter{
    font-size:90px;
    font-weight:bold;
}

.dropcap::first-line{
    font-weight:bold;
}