body{
    background:#f2f2f2;
}

.container{
    display:flex;
    width:1160px;
    margin:30px auto;
    background:white;
}



.sidebar{
    width:260px;
    background:#2f4359;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
    font-size:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:12px 0;
    font-size:24px;
    cursor:pointer;
}

.sidebar ul li:hover{
    color:#66ccff;
}



.content{
    flex:1;
    padding:30px;
}

.content h1{
    font-size:55px;
    margin-bottom:20px;
}

.content h2{
    font-size:48px;
    margin-bottom:20px;
}


.cards{
    display:flex;
    gap:20px;
    margin-bottom:30px;
}

.card{
    flex:1;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 12px rgba(0,0,0,0.2);
}

.card h3{
    margin-bottom:15px;
    font-size:34px;
}

.card p{
    font-size:30px;
}



table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#edf2f5;
    text-align:left;
    padding:15px;
    font-size:24px;
}

td{
    padding:15px;
    font-size:22px;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f8f8f8;
}